@import "../mixins.css";
@import "../variables.css";

.small-number {
  margin-bottom: 40px;
  padding-top: 20px;

  &--orange {
    .small-number__number {
      color: var(--color-23);
    }
  }

  &--light-orange-dark-bg {
    .small-number__number {
      color: var(--color-20);
    }

    .small-number__caption {
      color: var(--color-6);
    }
  }

  &__number {
    font-size: 64px;
    line-height: 72px;
    font-family: var(--font-serif);
    font-weight: 700;
  }

  &__caption {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-10);
  }
}