@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";

.content-block {
  padding: 120px 0;
  background: white;

  .eyebrow {
    color: #397C24;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  &__intro {
    position: relative;
    max-width: 720px;
    width: 100%;
    left: -100px;

    h2 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: var(--font-size-h2);
      line-height: var(--line-height-h2);
      color: #003E51;
      margin: 0;
      padding-bottom: 30px;
    }
  }

  &__col-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: 45%;

    p {
      font-size: 16px;
      line-height: 24px;
      color: #37494F;
      margin: 0;
      padding-bottom: 1.25rem;
    }
  }
}

.featured-number {
  position: relative;
  padding-top: 20px;

  &__symbol {
    font-size: 60px;
    line-height: 72px;
    color: var(--color-17);
    display: inline-block;
    vertical-align: top;
  }

  &__number {
    font-size: 200px;
    line-height: 220px;
    color: var(--color-17);
    display: inline-block;
  }

  &__value {
    font-size: 60px;
    line-height: 72px;
    color: var(--color-17);
    display: inline-block;
  }

  &__text {
    position: relative;
    color: var(--color-18);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
    font-family: var(--font-stack-bold);

    &::before {
      top: 0;
      content: '';
      width: 120px;
      height: 1px;
      background: var(--color-19);
      position: absolute;
    }
  }
}
