@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";


.hero + .content-block {
  /* Remove top padding when content block comes right below hero */
  padding: 0 0 120px;

  @media (--x-large-breakpoint-down) {
    padding: 30px 0 120px;
  }
}

.content-block {
  padding: 120px 0;
  background: white;

  .eyebrow {
    color: #397C24;
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-stack-bold);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  &__intro {
    position: relative;
    max-width: 720px;
    width: 100%;
    left: -100px;

    @media (--x-large-breakpoint-down) {
      left: -80px;
    }

    @media (--large-breakpoint-down) {
      left: 0;
    }

    h2 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: var(--font-size-h2);
      line-height: var(--line-height-h2);
      color: #003E51;
      margin: 0;
      padding-bottom: 30px;
      letter-spacing: -1px;
    }
  }

  &__col-wrap {
    display: flex;
    justify-content: space-between;

    @media (--small-breakpoint-down) {
      flex-direction: column;
    }
  }

  &__col {
    width: 45%;

    @media (--small-breakpoint-down) {
      width: 100%;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #37494F;
      margin: 0;
      padding-bottom: 1.25rem;
    }
  }

  &__image {
    margin-top: 20px;
  }

  &__blockquote {
    color: var(--color-10);
    margin-bottom: 40px;

    &-text {
      font-size: 22px;
      line-height: 36px;
      font-family: var(--font-serif);
      font-weight: 700;
      padding-left: 35px;
      position: relative;
      margin-bottom: 30px;

      &::before {
        content: '';
        height: 100%;
        width: 4px;
        background: #5A8F3E;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-author,
    &-author-title {
      padding-left: 35px;
      font-size: 14px;
      line-height: 20px;
    }

    &-author {
      font-family: var(--font-stack-bold);
      font-weight: 700;
    }
  }

  &__video {
    &-image {
      border: 4px solid white;
      box-shadow: 0px 1px 20px #00000027;
      position: relative;
      z-index: 0;
    }

    &-play-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      cursor: pointer;
      transition: all .3s ease;      

      img {
        width: 90px;
        height: 90px;
        margin: auto;
        display: inline-block;
        transition: all .3s ease; 

        &:hover {
          opacity: .7;
        }
      }
    }

    &-caption {
      margin-top: 15px;
      color: var(--color-10);
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.small-number {
  margin-bottom: 40px;

  &__number {
    font-size: 64px;
    line-height: 72px;
    font-family: var(--font-serif);
    font-weight: 700;
  }

  &__caption {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-10);
  }
}

.featured-number {
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;

  &__symbol {
    font-size: 60px;
    line-height: 72px;
    color: var(--color-17);
    display: inline-block;
    vertical-align: top;
    font-family: var(--font-serif);
    position: relative;
    top: 30px;
  }

  &__number {
    font-size: 200px;
    line-height: 220px;
    color: var(--color-17);
    display: inline-block;
    font-family: var(--font-serif);
  }

  &__value {
    font-size: 60px;
    line-height: 72px;
    color: var(--color-17);
    display: inline-block;
    font-family: var(--font-serif);
  }

  &__text {
    position: relative;
    color: var(--color-18);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
    font-family: var(--font-stack-bold);

    &::before {
      top: 0;
      content: '';
      width: 120px;
      height: 1px;
      background: var(--color-19);
      position: absolute;
    }
  }
}

.ReactModal__Overlay {
  z-index: 9000;
}

.ReactModal__Content {
  padding: 44px !important;
  z-index: 99999;

  .modal-close-btn {
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 10px;
    z-index: 99999;
    border: none;
    color: white;
    background: var(--color-15);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    text-align: center;
    opacity: 1;
    transition: all .3s ease;

    &:hover {
      opacity: .6;
    }

    span {
      background: white;
      width: 14px;
      height: 2px;
      display: block;
      position: relative;
      left: 1px;
      top: 1px;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
        top: -1px;
      }
    }
  }
}
