@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";

.mega-menu {
  background-image: 
    /* Load them all in advance so there's no delay on swap */
    url('../../images/backgrounds/hero-bcg-health-wellbeing-new.jpg'),
    url('../../images/backgrounds/hero-bcg-customer-convenience-new.jpg'),
    url('../../images/backgrounds/hero-bcg-financial-relief-new.jpg');
  position: absolute;
  z-index: 9000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: right center;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: visibility 0s, opacity 0.5s, background-image 0.6s ease;

  @media (--small-breakpoint-down) {
    overflow: visible;
  }

  .mega-menu-is-open & {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    position: relative;
    width: var(--mega-menu-width);
    left: -100%;
    height: 100%;
    background: var(--color-11);
    color: white; 
    transition: left .9s linear; 

    @media (--small-breakpoint-down) {
      width: 100%;
      transition: left .4s linear; 
    }
  }

  &__title {
    margin-top: 4rem;
    position: relative;
    z-index: 8000;
    padding: 0 4vw 1rem;
    background: var(--color-11);

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-size: 16px;
      line-height: 24px;
      color: white;
      font-weight: 400;
    }
  }

  &-is-open .mega-menu__content {
    left: 0; 
  }

  &__close-btn {
    display: flex;
    cursor: pointer;
    padding-right: .25rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    width: 7rem;
    border-right: 1px solid var(--border-color-1);
    transition: opacity .2s ease;
    position: relative;
    z-index: 9999;
    margin-left: 4vw;

    &:hover {
      opacity: .7;
    }
  }

  &__close-btn-x {
    margin-right: .65rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
      background: white;
      width: 32px;
      height: 2px;
      display: block;
      position: relative;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
        top: -2px;
      }
    }
  }

  &__close-btn-text {
    color: var(--color-1);
    font-weight: 700;
    font-family: var(--font-stack-bold);
    text-transform: uppercase;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
  }

  &__nav {
    padding: 0;
    height: 100vh;
    z-index: 2000;
    background: var(--color-11);

    @media (--small-breakpoint-down) {
      height: auto;
      padding: 0 0 6rem;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
    }
  }

  &__nav-item {
    margin: 0 4vw;
  }

  &__nav-item-title {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--border-color-1);
    cursor: pointer;
    transition: opacity .2s ease;
    background: var(--color-11);

    &:hover {
      span {
        opacity: .7;
      }
    }

    span {
      display: inline-block;

      &:first-child {
        font-size: 2.25rem;
        line-height: 1.1;
      }

      &:last-child {
        img:first-child {
          height: 85px;
          width: 85px;
          opacity: .15;
        }

        img:last-child {
          opacity: 0;
          width: 0;
          height: 0;
        }
      }
    }
  }
}

ul.mega-menu__subnav {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  padding: 205px 4vw 0;
  left: 0;
  width: var(--mega-menu-width);
  z-index: -100;
  background: var(--color-11-alt);
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s;

  @media (--small-breakpoint-down) {
    width: 100%;
    padding: 2rem 0;
    z-index: 100;
    position: relative;
    display: none;
  }

  ul {
    margin: 10rem 0 0;
    height: 100%;
    padding: 0 2.5rem;
    /* border-left: 1px solid var(--border-color-1); */

    @media (--small-breakpoint-down) {
      padding: 0 4vw;
      border-left: none;
      margin: 0;
    }
  }

  li {
    list-style-type: none;
    margin-bottom: 1.25rem;
  }

  a {
    color: var(--color-6);
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  &--1 {
    @media (--small-breakpoint-down) {
      bottom: auto;
    }

    &.subnav-1-is-open {
      left: var(--mega-menu-width);

      @media (--small-breakpoint-down) {
        left: 0;
      }
    }
  }

  &--2 {
    @media (--small-breakpoint-down) {
      bottom: auto;
    }

    &.subnav-2-is-open {
      left: var(--mega-menu-width);

      @media (--small-breakpoint-down) {
        left: 0;
      }
    }
  }

  &--3 {
    @media (--small-breakpoint-down) {
      bottom: auto;
    }

    &.subnav-3-is-open {
      left: var(--mega-menu-width);

      @media (--small-breakpoint-down) {
        left: 0;
      }
    }
  }
}

.body-subnav-1-is-open {
  .mega-menu__subnav.mega-menu__subnav--1 {
    display: block;
  }

  .mega-menu__nav-item.mega-menu__nav-item--1 .mega-menu__nav-item-title {
    border-bottom: 1px solid var(--color-5);

    span {
      &:last-child {
        img:first-child {
          opacity: 0;
          width: 0;
          height: 0;
        }

        img:last-child {
          opacity: 1;
          width: 85px;
          height: 85px;
        }
      }
    }
  }
}

.body-subnav-2-is-open {
  .mega-menu {
    background-image: url('../../images/backgrounds/nav-bcg-customer-convenience.jpg');
  }

  .mega-menu__subnav.mega-menu__subnav--2 {
    display: block;
  }

  .mega-menu__nav-item.mega-menu__nav-item--2 .mega-menu__nav-item-title {
    border-bottom: 1px solid var(--color-20);

    span {
      &:last-child {
        img:first-child {
          opacity: 0;
          width: 0;
          height: 0;
        }

        img:last-child {
          opacity: 1;
          width: 85px;
          height: 85px;
        }
      }
    }
  }
}

.body-subnav-3-is-open {
  .mega-menu {
    background-image: url('../../images/backgrounds/nav-bcg-financial-relief.jpg');
  }

  .mega-menu__subnav.mega-menu__subnav--3 {
    display: block;
  }

  .mega-menu__nav-item.mega-menu__nav-item--3 .mega-menu__nav-item-title {
    border-bottom: 1px solid var(--color-21);

    span {
      &:last-child {
        img:first-child {
          opacity: 0;
          width: 0;
          height: 0;
        }

        img:last-child {
          opacity: 1;
          width: 85px;
          height: 85px;
        }
      }
    }
  }
}


@media (--small-breakpoint-down) {
  .body-subnav-1-is-open {
    .mega-menu__nav-item--2,
    .mega-menu__nav-item--3 {
      transform: translateY(0);
    }

    .mega-menu__subnav--1 {
      z-index: 9000;
    }

    .mega-menu {
      overflow: visible;
    }
  }

  .body-subnav-2-is-open {
    .mega-menu__nav-item--3 {
      transform: translateY(0);
    }

    .mega-menu__subnav--2 {
      z-index: 9000;
    }

    .mega-menu {
      overflow: visible;
    }
  }

  .body-subnav-3-is-open {
    .mega-menu__subnav--3 {
      z-index: 9000;
    }

    .mega-menu {
      overflow: visible;
    }
  }
}