@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";

.mega-menu {
  background-image: 
    /* Load them all in advance so there's no delay on swap */
    url('../../images/bg-city.jpg'),
    url('../../images/bg-menu-2.jpg'),
    url('../../images/bg-menu-3.jpg');
  position: absolute;
  z-index: 9000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: visibility 0s, opacity 0.5s, background-image 0.6s ease;

  .mega-menu-is-open & {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    position: relative;
    width: var(--mega-menu-width);
    left: -100%;
    height: 100%;
    background: var(--color-11);
    color: white; 
    transition: left .9s linear; 

    @media (--small-breakpoint-down) {
      width: 100%;
    }
  }

  &-is-open .mega-menu__content {
    left: 0; 
  }

  &__close-btn {
    display: flex;
    cursor: pointer;
    padding-right: .25rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    width: 7rem;
    border-right: 1px solid var(--border-color-1);
    transition: opacity .2s ease;
    position: relative;
    z-index: 9999;
    margin-left: 4vw;

    &:hover {
      opacity: .7;
    }
  }

  &__close-btn-x {
    margin-right: .65rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
      background: white;
      width: 32px;
      height: 2px;
      display: block;
      position: relative;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
        top: -2px;
      }
    }
  }

  &__close-btn-text {
    color: var(--color-1);
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
  }

  &__nav {
    margin-top: 4rem;
    padding: 0 4vw;
    height: 100vh;
    position: relative;
    z-index: 2000;
    background: var(--color-11);

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
    }
  }

  &__nav-item {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--border-color-1);
    cursor: pointer;
    transition: opacity .2s ease;

    &:hover {
      opacity: .7;
    }

    span {
      display: block;

      &:first-child {
        font-size: 2.5rem;
        line-height: 1.1;
      }

      &:last-child {
        font-size: 6.5rem;
        line-height: .9;
        color: var(--color-11);
        font-weight: 700;
        text-shadow:
          -1px -1px 0 var(--border-color-1),  
          1px -1px 0 var(--border-color-1),
          -1px 1px 0 var(--border-color-1),
          1px 1px 0 var(--border-color-1);
      }
    }
  }

  &__subnav {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    padding: 0;
    left: 0;
    width: var(--mega-menu-width);
    z-index: 500;
    background: var(--color-11);
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s;

    @media (--small-breakpoint-down) {
      width: 100%;
    }

    ul {
      margin: 10rem 0 0;
      height: 100%;
      padding: 0 3rem;
      border-left: 1px solid var(--border-color-1);

      @media (--small-breakpoint-down) {
        padding: 0 4vw;
        border-left: none;
        margin: 0;
      }
    }

    li {
      list-style-type: none;
      margin-bottom: 1rem;
    }

    a {
      color: var(--color-6);
      text-decoration: none;

      &:hover {
        color: white;
      }
    }

    &--1 {
      @media (--small-breakpoint-down) {
        top: 580px;
        bottom: auto;
      }

      &.subnav-1-is-open {
        left: var(--mega-menu-width);

        @media (--small-breakpoint-down) {
          left: 0;
          top: 310px;
        }
      }
    }

    &--2 {
      @media (--small-breakpoint-down) {
        top: 580px;
        bottom: auto;
      }

      &.subnav-2-is-open {
        left: var(--mega-menu-width);

        @media (--small-breakpoint-down) {
          left: 0;
          top: 480px;
        }
      }
    }

    &--3 {
      @media (--small-breakpoint-down) {
        top: 558px;
        bottom: auto;
      }

      &.subnav-3-is-open {
        left: var(--mega-menu-width);

        @media (--small-breakpoint-down) {
          left: 0;
          top: 630px;
        }
      }
    }
  }
}


.body-subnav-1-is-open {
  .mega-menu__nav-item.mega-menu__nav-item--1 {
    border-bottom: 1px solid var(--color-5);
  }
}

.body-subnav-2-is-open {
  .mega-menu {
    background-image: url('../../images/bg-menu-2.jpg');
  }

  .mega-menu__nav-item.mega-menu__nav-item--2 {
    border-bottom: 1px solid var(--color-5);
  }
}

.body-subnav-3-is-open {
  .mega-menu {
    background-image: url('../../images/bg-menu-3.jpg');
  }

  .mega-menu__nav-item.mega-menu__nav-item--3 {
    border-bottom: 1px solid var(--color-5);
  }
}


@media (--small-breakpoint-down) {
  .body-subnav-1-is-open {
    .mega-menu__nav-item--2,
    .mega-menu__nav-item--3 {
      transform: translateY(400px);
    }

    .mega-menu__subnav--1 {
      z-index: 9000;
    }

    .mega-menu {
      overflow: visible;
    }
  }

  .body-subnav-2-is-open {
    .mega-menu__nav-item--3 {
      transform: translateY(400px);
    }

    .mega-menu__subnav--2 {
      z-index: 9000;
    }

    .mega-menu {
      overflow: visible;
    }
  }

  .body-subnav-3-is-open {
    .mega-menu__subnav--3 {
      z-index: 9000;
    }

    .mega-menu {
      overflow: visible;
    }
  }
}