@import "../mixins.css";
@import "../variables.css";

.mega-menu {
  display: none;
  position: absolute;
  z-index: 9000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;

  .mega-menu-is-open & {
    display: block;
  }

  &__content {
    width: 300px;
    height: 100%;
    background: var(--color-3);
    color: white
  }
}