@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";

.hero {
  background-size: cover;
  padding: 140px 0 220px;
  position: relative;
  background-position: right center;
  overflow: hidden;

  @media (--medium-breakpoint-down) {
    background-position: right -100px;
    padding: 100px 0 0 ;
  }

  /* &::after {
    content: '';
    background: var(--color-7);
    height: 100%;
    width: 60%;
    min-width: 630px;
    position: absolute;
    top: 0;
    bottom: 0;
  } */

  &__angle {
    display: none;
    position: relative;

    @media (--medium-breakpoint-down) {
      content: '';
      width: 1000px;
      margin-left: -4vw;
      height: 180px;
      position: absolute;
      background: var(--color-17);
      display: block;
      z-index: -1;
      top: -130px;
      transform-origin: left bottom;
      transform: skewY(8deg);
    }

    @media (--small-breakpoint-down) {
      top: -110px;
    }
  }

  &--customer-convenience {
    &::after {
      content: '';
      background-image: url('../../images/patterns/hero-pattern-customer-convenience.svg');
      background-position: -100px -100px;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 6;
      width: 100%;
      height: 100%;

      @media (--medium-breakpoint-down) {
        display: none;
      }

      @media (--large-breakpoint-down) {
        opacity: .93;
        background-position: -180px -100px;
      }

      @media (--hero-image-up) {
        background-position: left -120px;
      }
    }
  }

  &--financial-relief {
    &::after {
      content: '';
      background-image: url('../../images/patterns/hero-pattern-financial-relief.svg');
      background-position: -100px -100px;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 6;
      width: 100%;
      height: 100%;

      @media (--medium-breakpoint-down) {
        display: none;
      }

      @media (--large-breakpoint-down) {
        opacity: .93;
        background-position: -200px -100px;
      }

      @media (--hero-image-up) {
        background-position: left -120px;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: white;
    height: 130px;
    z-index: 100;

    @media (--medium-breakpoint-down) {
      display: none;
    }

    @media (--x-large-breakpoint-up) {
      left: calc((100% - var(--container-max-width)) / 2);
    }

    @media (--large-breakpoint-down) {
      left: 4%;
    }
  }
  
  h1 {
    color: white;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: 300;
    margin: 0;
    padding-bottom: 40px;

    @media (--medium-breakpoint-down) {
      font-size: 66px;
      line-height: 78px;
      margin-top: -40px;
    }

    @media (--small-breakpoint-down) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  h4 {
    color: white;
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    font-weight: 400;
    margin: 0;
    position: relative;
    padding-left: 30px;
    font-family: var(--font-serif);
    letter-spacing: 1px;

    @media (--medium-breakpoint-down) {
      font-size: 22px;
      line-height: 30px;
    }

    @media (--small-breakpoint-down) {
      font-size: 18px;
      line-height: 26px;
    }

    &::before {
      position: absolute;
      z-index: 20;
      content: '';
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background: var(--color-8);
    }
  }

  &--orange-accent {
    h4 {
      &::before {
        background: var(--color-13);
      }
    }
  }

  .container {
    position: relative;
    z-index: 10;
  }

  &__content {
    max-width: 100%;
    width: 600px;
    padding-right: 30px;
    position: relative;

    @media (--medium-breakpoint-down) {
      margin-top: 200px;
      background: var(--color-17);
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding: 40px 4vw 70px;
      max-width: 100vw;
    }

    @media (--medium-breakpoint-down) {
      margin-top: 220px;
    }
  }

  &__scroll-indicator {
    margin-top: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .25);
    width: 80px;
    height: 80px;
    color: white;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;

    animation-name: bounce-vertical;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1); */
    
    @keyframes bounce-vertical {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(7px); }
      100% { transform: translateY(0); }
    }  
    
    @media (--medium-breakpoint-down) {
      display: none;
    }
  }
}