@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";

.splash-block {
  padding: 70px 0;
  background: url('../../images/triangle-large.svg');
  background-repeat: no-repeat;
  background-position: 101% top;
  background-size: 62%;
  overflow: hidden;

  @media (--large-breakpoint-down) {
    background-size: 70%;
  }

  @media (--large-breakpoint-down) {
    background-size: 70%;
  }

  &__title {
    position: relative;
    z-index: 100;
    left: -100px;
    width: 100%;
    margin: 0 auto;
    color: var(--color-17);
    padding-bottom: 60px;

    @media (--x-large-breakpoint-down) {
      left: -80px;
    }

    @media (--large-breakpoint-down) {
      left: 0;
    }

    h1 {
      color: var(--color-17);
      font-size: 60px;
      line-height: 72px;
      text-transform: uppercase;
      font-weight: 300;

      span {
        font-family: var(--font-serif);
        font-size: 64px;
        font-weight: 900;
      }
    }
  }

  &__image-row {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: calc(25% - 25px);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__intro-text {
    color: var(--color-3);
    font-family: var(--font-serif);
    font-size: 22px;
    line-height: 36px;
    padding: 50px 0 40px;
    font-weight: 700;
    position: relative;
    margin-left: -100px;
    position: relative;

    @media (--x-large-breakpoint-down) {
      margin-left: -80px;
    }

    @media (--large-breakpoint-down) {
      margin-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 99999px;
      background: var(--color-24);
      height: 1px;
      z-index: 100;
      margin-left: -40px;

      @media (--x-large-breakpoint-up) {
        left: calc((100% - var(--small-container-max-width)) / 2);
        margin-left: -50px;
      }

      @media (--x-large-breakpoint-down) {
        margin-left: -40px;
      }

      @media (--large-breakpoint-down) {
        left: 4%;
        margin-left: -40px;
      }

      @media (--medium-breakpoint-down) {
        left: 0;
        margin-left: 0;
      }
    }
  }  
}