@import "../mixins.css";
@import "../variables.css";

.large-number {
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;

  &__symbol {
    font-size: 60px;
    line-height: 72px;
    color: var(--color-17);
    display: inline-block;
    vertical-align: top;
    font-family: var(--font-serif);
    position: relative;
    top: 30px;

    @media (--large-breakpoint-down) {
      font-size: 50px;
      line-height: 60px;
    }

    @media (--medium-breakpoint-down) {
      font-size: 40px;
      line-height: 56px;
    }
  }

  &__number {
    font-size: 200px;
    line-height: 220px;
    color: var(--color-17);
    display: inline-block;
    font-family: var(--font-serif);

    @media (--large-breakpoint-down) {
      font-size: 180px;
      line-height: 200px;
    }

    @media (--medium-breakpoint-down) {
      font-size: 100px;
      line-height: 120px;
    }
  }

  &--has-tilde {
    .large-number__symbol {
      top: 80px;

      @media (--medium-breakpoint-down) {
        top: 62px;
      }
    }

    .large-number__value {
      @media (--medium-breakpoint-down) {
        font-size: 40px;
        line-height: 56px;
      }
    }

    .large-number__number {
      sup {
        margin-left: 12px;
        font-size: 60px;
        position: relative;
        top: -30px;
        line-height: 72px;

        @media (--medium-breakpoint-down) {
          font-size: 40px;
          line-height: 56px;
        }
      }

      @media (--large-breakpoint-down) {
        font-size: 180px;
        line-height: 200px;
      }

      @media (--medium-breakpoint-down) {
        font-size: 140px;
        line-height: 180px;
      }
    }
  }

  &__value {
    font-size: 60px;
    line-height: 72px;
    color: var(--color-17);
    display: inline-block;
    font-family: var(--font-serif);

    @media (--large-breakpoint-down) {
      font-size: 50px;
      line-height: 60px;
    }

    @media (--medium-breakpoint-down) {
      font-size: 40px;
      line-height: 56px;
    }
  }

  &__text {
    position: relative;
    color: var(--color-18);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    padding-top: 15px;
    font-family: var(--font-stack-bold);

    &::before {
      top: 0;
      content: '';
      width: 120px;
      height: 1px;
      background: var(--color-19);
      position: absolute;
    }
  }

  &--shrunk {
    .large-number__number {
      font-size: 170px;
      line-height: 190px;

      @media (--large-breakpoint-down) {
        font-size: 120px;
        line-height: 140px;
      }

      @media (--medium-breakpoint-down) {
        font-size: 100px;
        line-height: 120px;
      }
    }
  }

  &--orange {
    .large-number__text {
      color: var(--color-23);

      &::before {
        background: var(--color-28);
      }
    }
  }

  &--blue {
    .large-number__text {
      color: var(--color-15);

      &::before {
        background: var(--color-27);
      }
    }
  }

  &--here-to-help {
    .large-number__number {
      color: var(--color-29);
      font-weight: 300;
      font-size: 240px;
      line-height: 260px;
      font-family: var(--font-serif);

      @media (--large-breakpoint-down) {
        font-size: 200px;
        line-height: 220px;
      }

      @media (--medium-breakpoint-down) {
        font-size: 160px;
        line-height: 180px;
      }

      @media (--extra-small-breakpoint-down) {
        font-size: 120px;
        line-height: 140px;
      }
    }

    .large-number__text {
      color: white;
      font-family: var(--font-stack-regular);
      text-transform: lowercase;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      &::before {
        background: var(--color-17);
      }
    }
  }
}