@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";

.header {
  background: white;
  padding: 1.5rem 0;

  &__container {
    width: 92%;
    margin: 0 auto;
  }

  &__toggle-menu-btn {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    position: relative;
    cursor: pointer;
    display: flex;
    transition: opacity .2s ease;
    width: 6.5rem;

    &:hover {
      opacity: .7;
    }
  }

  &__toggle-menu-btn-burger {
    margin-right: .75rem;

    span {
      width: 32px;
      height: 2px;
      background: var(--color-4);
      display: block;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__toggle-menu-btn-text {
    color: var(--color-1);
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
  }
}