@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";

.header {
  background: white;

  &__container {
    width: 92%;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;    
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 30px;
    font-family: var(--font-stack-medium);
    color: var(--color-17);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.32px;

    a {
      color: var(--color-17);
      transition: opacity .2s ease;
      text-decoration: none;

      &:hover {
        opacity: .75;
      }
    }

    @media (--small-breakpoint-down) {
      display: none;
    }
  }

  &__logo {
    margin-left: 10px;
    padding-left: 25px;
    padding-top: 21px;
    padding-bottom: 21px;
    border-left: 1px solid var(--color-24);

    img {
      width: 155px;
    }

    @media (--small-breakpoint-down) {
      margin-left: auto;
      border-left: 0;
    }
  }

  &__toggle-menu-btn {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    position: relative;
    cursor: pointer;
    display: flex;
    transition: opacity .2s ease;
    width: 6.5rem;
    padding-top: 15px;
    padding-bottom: 15px;

    &:hover {
      opacity: .7;
    }
  }

  &__toggle-menu-btn-burger {
    margin-right: .75rem;
    margin-top: 13px;

    span {
      width: 32px;
      height: 2px;
      background: var(--color-4);
      display: block;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__toggle-menu-btn-text {
    color: var(--color-1);
    font-weight: 700;
    font-family: var(--font-stack-bold);
    text-transform: uppercase;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
  }
}