@import "variables.css";
@import "breakpoints.css";
@import "mixins.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, 
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-stack-regular);

  &.mega-menu-is-open {
    overflow: hidden;

    @media (--small-breakpoint-down) {
      overflow: visible;
    }
  }
}

img,
video,
iframe {
  max-width: 100%;
  display: block;
}

/* Typography */
h1,
.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-family: var(--font-stack-light);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-family: var(--font-stack-light);
}

h3,
.h4 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-family: var(--font-stack-light);
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-family: var(--font-stack-light);
}

/* Utilities */
.mar-top-1 {
  margin-top: 10px;
}

.mar-top-2 {
  margin-top: 20px;
}

.mar-top-3 {
  margin-top: 30px;
}

.mar-top-4 {
  margin-top: 40px;
}

.mar-top-5 {
  margin-top: 50px;
}

