@import "variables.css";
@import "breakpoints.css";
@import "mixins.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, 
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-stack-regular);

  &.mega-menu-is-open {
    overflow: hidden;

    @media (--small-breakpoint-down) {
      overflow: visible;
    }
  }
}

img,
video,
iframe {
  max-width: 100%;
  display: block;
}

/* Typography */
b,
strong {
  font-family: var(--font-stack-bold);
}

h1,
.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-family: var(--font-stack-light);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-family: var(--font-stack-light);
}

h3,
.h4 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-family: var(--font-stack-light);
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-family: var(--font-stack-light);
}

/* Utilities */
.mar-top-1 {
  margin-top: 10px;
}

.mar-top-2 {
  margin-top: 20px;
}

.mar-top-3 {
  margin-top: 30px;
}

.mar-top-4 {
  margin-top: 40px;
}

.mar-top-5 {
  margin-top: 50px;
}

.mar-top-6 {
  margin-top: 60px;
}

.mar-top-7 {
  margin-top: 70px;
}

.mar-top-8 {
  margin-top: 80px;
}

.mar-top-9 {
  margin-top: 90px;
}

.mar-top-10 {
  margin-top: 100px;
}

.mar-top-20 {
  margin-top: 200px;
}

.mar-bot-1 {
  margin-bottom: 10px;
}

.mar-bot-2 {
  margin-bottom: 20px;
}

.mar-bot-3 {
  margin-bottom: 30px;
}

.mar-bot-4 {
  margin-bottom: 40px;
}

.mar-bot-5 {
  margin-bottom: 50px;
}

.mar-bot-6 {
  margin-bottom: 60px;
}

.mar-bot-7 {
  margin-bottom: 70px;
}

.mar-bot-8 {
  margin-bottom: 80px;
}

.mar-bot-9 {
  margin-bottom: 90px;
}

.mar-bot-10 {
  margin-bottom: 100px;
}

.mar-bot-20 {
  margin-bottom: 200px;
}

/* Main Content Block */
.hero + .content-block {
  /* Remove top padding when content block comes right below hero */
  padding: 0 0 120px;

  @media (--x-large-breakpoint-down) {
    padding: 80px 0 120px;
  }

  @media (--small-breakpoint-down) {
    padding: 60px 0 80px;
  }
}

.splash-block + .content-block {
  /* Smaller top padding when content block comes right below splash block */
  padding: 20px 0 120px;

  @media (--x-large-breakpoint-down) {
    padding: 20px 0 120px;
  }

  @media (--small-breakpoint-down) {
    padding: 20px 0 80px;
  }
}

.content-block {
  padding: 120px 0;
  background: white;
  overflow: hidden;

  @media (--small-breakpoint-down) {
    padding: 80px 0;
  }

  a {
    color: var(--color-10);
    transition: opacity .2s ease;

    &:hover {
      opacity: .8;
    }
  }

  h3.heading-alt {
    margin-top: 0;
    font-size: 40px;
    line-height: 44px;
    color: var(--color-17);
    padding-bottom: 18px;
    font-weight: 400;
    font-family: var(--font-stack-regular);
    border-bottom: 1px solid var(--color-14); 
    margin-bottom: 15px;
  }

  &--bottom-padding-large {
    padding: 120px 0 240px;
  }

  &--light-text {
    p,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: white;
    }

    .content-block__intro {
      h2 {
        color: white;
      }
    }

    .content-block__col {
      p {
        color: white;
      }
    }

    .blockquote {
      color: white;
    }

    .video-modal__caption {
      color: white;
    }
  }

  .eyebrow {
    color: #397C24;
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-stack-bold);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-left: 5px;

    &--no-indent {
      margin-left: 0;
    }

    &--color-15 {
      color: var(--color-15);
    }

    &--color-20 {
      color: var(--color-20);
    }

    &--color-22 {
      color: var(--color-22);
    }

    &--color-23 {
      color: var(--color-23);
    }
  }

  &__internal-heading {
    font-family: var(--font-stack-bold);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;    
    border-bottom: 1px solid var(--color-24);
    color: var(--color-10);
  }

  &__intro {
    position: relative;
    max-width: 720px;
    width: 100%;
    left: -100px;

    @media (--x-large-breakpoint-down) {
      left: -80px;
    }

    @media (--large-breakpoint-down) {
      left: 0;
    }

    h2 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: var(--font-size-h2);
      line-height: var(--line-height-h2);
      color: #003E51;
      margin: 0;
      padding-bottom: 35px;
      letter-spacing: -1px;

      @media (--small-breakpoint-down) {
        font-size: 40px;
        line-height: 52px;
        padding-bottom: 20px;
      }
    }
  }

  &__col-wrap {
    display: flex;
    justify-content: space-between;

    @media (--small-breakpoint-down) {
      flex-direction: column;
    }
  }

  &__col {
    width: 45%;
    position: relative;

    @media (--small-breakpoint-down) {
      width: 100%;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: var(--color-10);
      margin: 0;
      padding-bottom: 1.25rem;
    }

    &--left {
      .content-block__overflow-image {
        position: absolute;
        right: 0;
        width: 50vw;
        padding: 10px 0;

        @media (--medium-breakpoint-down) {
          display: none;
        }
      }
    }

    &--right {
      .content-block__overflow-image {
        position: absolute;
        left: 0;
        width: 50vw;
        padding: 10px 0;

        @media (--medium-breakpoint-down) {
          display: none;
        }
      }
    }
  }

  &__image {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__list {
    ul {
      margin: 0.75rem 0 2rem;
      padding: 0 1rem;
      list-style: none;
      color: var(--color-10);
    }

    li {
      margin-bottom: .7rem;
      padding-left: 1rem;
      line-height: 22px;

      &:last-child {
        margin-bottom: .25rem;
      }
    }
    
    ul li::before {
      content: "";
      border-color: transparent var(--color-12);
      border-style: solid;
      border-width: 0 .75rem .75rem 0;
      display: block;
      height: 0;
      width: 0;
      left: -2rem;
      top: 0.9rem;
      position: relative;
    }

    &-footnote {
      padding-top: 10px;
      font-size: 13px;
      line-height: 20px;
      font-style: italic;
      color: var(--color-10);
    }

    &--orange {
      ul li::before {
        border-color: transparent var(--color-23);        
      }
    }

    &--blue {
      ul li::before {
        border-color: transparent var(--color-15);        
      }
    }
  }
  
  &__overlap-block {
    overflow: hidden;
    position: relative;
    z-index: 500;
    margin-top: -200px;
    padding: 0 0 100px;

    &--inline {
      margin-top: -60px;
      margin-bottom: -50px;
      padding: 0;
    }

    .container.container--small {
      width: var(--small-container-width);
      max-width: calc(var(--small-container-max-width) + 160px);
      position: relative;
      left: 80px;

      @media (--small-breakpoint-down) {
        left: 0;
      }
    }

    .blockquote {
      padding-top: 40px;
      width: calc(100% - 80px);

      @media (--small-breakpoint-down) {
        width: 100%;
      }
    }
  }

  &__icon-block {
    margin-bottom: 40px;
    padding-top: 20px;

    &-icon {
      margin-bottom: 20px;
    }

    img {
      width: 48px;
      height: 48px;
    }

    &-text {
      color: var(--color-10);
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__full-width-col {
    width: 100%;
    margin-top: 40px;
    padding-top: 25px;
    color: var(--color-10);

    p {
      color: var(--color-10);
      line-height: 24px;
      font-size: 16px;
    }

    &--no-spacing {
      margin-top: 0;
      padding-top: 0;
    }
    
    &--has-top-border {
      border-top: 1px solid var(--color-14); 
    }
  }
}

/* Image Number Block */
.image-number-block {
  padding: 140px 0 0;
  margin-bottom: -80px;

  @media (--small-breakpoint-down) {
    padding: 80px 0 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__image-wrap {
    position: absolute;
    right: 0;
    width: 50vw;
    padding: 10px 0;
  }

  &__image {    
    width: calc(96% - 700px);
    position: relative;

    img {
      margin-left: auto;
      max-height: 520px;
    }

    @media (--medium-breakpoint-down) {
      display: none;
    }
  }

  &__number {
    width: 700px;
    padding-left: 35px;

    @media (--medium-breakpoint-down) {
      width: 100%;
      padding-left: 0;
    }

    @media (--small-breakpoint-down) {
      text-align: left;
    }
  }
}

/* Media Element */
.media-element {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 70px;

  &:last-of-type {
    padding: 25px 0 0;
  }

  &__image {
    width: 180px;

    img {
      max-width: 140px;
    }
  }

  &__text {
    width: calc(100% - 180px);
    color: var(--color-10);
    font-size: 16px;
    line-height: 24px;

    p {
      color: var(--color-10);
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
  }
}

/* Flex Block */
.flex-block {
  display: flex;
  flex-wrap: wrap;
}

/* Split Image Block */
.split-image-block {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__col {
    width: 45%;
  }

  &__title {
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-stack-regular);
    color: var(--color-10);
    padding-bottom: 5px;
  }

  &__name {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font-stack-bold);
    color: var(--color-10);
    padding-bottom: 5px;
  }

  &__pronoun {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-26);
    font-family: var(--font-stack-regular);
    font-style: italic;
  }
}

/* Investing Block */
.investing-intro {
  padding: 120px 0 60px;
  text-align: center;

  h3 {
    color: var(--color-17);
    font-size: 40px;
    line-height: 44px;
    margin: 0;
    padding: 0
  }
}

.investing-footnote {
  padding: 0 0 90px;
  background: white;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
  color: var(--color-10);
  font-family: var(--font-stack-light);

  @media (--large-breakpoint-down) {
    padding: 20px 0 90px;
  }

  sup {
    font-size: 10px;
    position: relative;
    top: 2px;
  }
}

/* Miscellaneous */
.blue-across-ri-logo-wrap {
  max-width: 250px;

  img {
    max-width: 100%;
  }
}