@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";

.full-width-image {
  background-size: cover;
  max-height: 640px;
  height: 640px;
  position: relative;
  z-index: 100;
  margin-top: -60px;
  background-position: center center;
  overflow: hidden;

  @media (--large-breakpoint-down) {
    height: 500px;
    max-height: 500px;
  }

  @media (--small-breakpoint-down) {
    height: 420px;
    max-height: 420px;
  }

  &::after {
    content: '';
    background: #003E51;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 30;
    width: 100%;
    margin: 0 auto;

    @media (--x-large-breakpoint-up) {
      left: calc((100% - var(--container-max-width)) / 2);
    }

    @media (--large-breakpoint-down) {
      left: 4%;
    }
  }
}