.by-the-numbers {
  background: var(--color-7);
  padding: 120px 0;  

  &__intro {
    text-align: center;
    padding-bottom: 30px;

    h2 {
      color: white;
      font-size: var(--font-size-h2);
      text-transform: uppercase;
      font-weight: 300;
      margin: 0;
      padding-bottom: 15px;
    }

    p {
      color: var(--color-6);
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }
  }

  &__footnote {
    margin-top: 30px;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-6);
  }
}