@import "../variables.css";
@import "../breakpoints.css";
@import "../mixins.css";

.accordion-item {
  padding: 15px 25px 0;
  border-top: 1px solid var(--color-9);
  border-left: 1px solid var(--color-9);
  border-right: 1px solid var(--color-9);
  color: white;   
  cursor: pointer;
  outline: none;

  h4 {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    transition: opacity .35s ease;

    &:hover {
      opacity: .6;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:last-child {
    border-bottom: 1px solid var(--color-9);
  }

  .accordion-item__content {
    transition: height 1s, transform 1s, opacity .1s;
    transform: scaleY(0);
    height: 0;
    padding: 0;
    opacity: 0;
  }

  .accordion-item__arrow {
    position: absolute;
    width: 48px;
    height: 12px;
    top: -2px;
    right: 0;
    transform: rotate(0);
    transition: transform .5s;

    svg,
    path {
      fill: #fff;
    }
  }

  &--active {
    cursor: pointer;
    background: white;
    outline: none;   
  }

  &--active {
    padding: 15px 25px;

    h4 {      
      font-weight: 700;
      color: var(--color-3);
      position: relative;
      transition: opacity 0s ease;

      &:hover {
        opacity: 1;
      }
    }

    sup {
      font-size: 14px;
      position: relative;
      top: 1px;
      margin-left: 2px;
    }

    .accordion-item__content {
      transition: height 1s, transform .5s; 
      height: auto;
      padding: 10px 50px 10px 0;
      transform: scaleY(1);
      transform-origin: top;
      color: var(--color-10);
      font-size: 14px;
      line-height: 20px;
      opacity: 1;

      p {
        margin-top: 0;
        padding-bottom: .25rem;
      }
    }

    .accordion-item__arrow {
      position: absolute;
      width: 48px;
      height: 12px;
      top: -2px;
      right: 0;
      transform: rotate(90deg);
      transition: transform .5s ease;
      transform-origin: center;
      top: 30px;
      right: -15px;

      svg,
      path {
        fill: var(--color-15);
      }
    }
  }

  &__title {
    position: relative;
  }      
}